<div class="border-top border-info pt-3">
  <h5 class="text-info">今日の投稿</h5>

    <%= form_with model: @new_post, url: public_posts_path, method: :post do |f| %>
      <p class="mb-0">達成度</p>
        <div class="form-check form-check-inline achivement-btn d-flex justify-content-around">
          <% @hash.each do |h| %>
            <div>
              <%= f.radio_button :achivement, h[:enum], checked: h[:checked], class: 'btn-check' %>
              <span class="icon h3 py-4 border">
                <%= f.label Post.achivements_i18n[h[:enum]],for: "post_achivement_#{h[:enum]}", class: 'btn btn-outline-info p-1' do %>
                  <i class="fa-regular fa-face-<%= h[:icon] %> fa-3x"></i><br>
                  <span class="h6"><%= Post.achivements_i18n[h[:enum]] %></span>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>

      <p class="mb-0">投稿内容</p>
        <%= render 'layouts/error_messages', model: f.object, attribute: :body %>
        <%= f.text_area :body, placeholder:"入力は140字まで",class: 'mx-1 mb-2  px-1 col-12 border border-info',rows: '6' %>

      <p class="mb-0">画像(任意)</p>
        <div class="mx-1 mb-2">
          <%= f.file_field :image, accept: "image/*", class: 'mx-1' %>
        </div>

      <p class="mb-0">明日の目標(任意)</p>
        <%= f.text_field :tomorrow_objective, placeholder:"入力は20字まで",class: 'mx-1 mb-2 px-1 col-12 border border-info' %>

      <p class="mb-0">タグ(複数選択可)</p>
        <%= render 'layouts/error_messages', model: f.object, attribute: :tag_ids %>
        <div class="form-group ml-3">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name)  do |tag| %>
            <div class="mx-1 mb-2 form-check-inline">
              <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
              <% end %>
            </div>
          <% end %>
        </div>

      <p class="mb-0">公開ステータス</p>
        <div class="form-check form-check-inline">
          <div class="ml-5">
           <%= f.radio_button :is_released,"true", checked: true %> 公開
          </div>
          <div class="ml-5">
            <%= f.radio_button :is_released,"false" %> 非公開
          </div>
        </div>

      <div class="d-flex justify-content-center pt-3">
        <div><%= f.submit "投稿", class: 'btn btn-outline-info' %></div>
      </div>

    <% end %>

</div>