<div class="row">

  <!--サイドバー-->
  <div class="col-3 mb-5 sidebar">
    <%= render partial: 'layouts/user_info',locals: { user: @user, goal: @goal } %><br>
    <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
      <%= render partial: 'layouts/tag_search' %>
    <% end %>
  </div>


  <div class="col-9">
    <div class="d-flex justify-content-center">
      <div class="h5">すべての投稿</div>
    </div>
    <div>
      <% @posts.each do |post| %>
        <%= render partial: 'layouts/post_partial/body',locals: { post: post, user: @user, current_user: @current_user }  %>
        <%= render partial: 'layouts/post_partial/footline_go_to_show',locals: { post: post, user: @user, current_user: @current_user }  %>
      <% end %>
    </div>
  </div>

</div>