<div class="row">

  <%# サイドバー %>
  <div class="col-md-3 col-12 mb-5 sidebar">
    <%= render partial: 'layouts/user_info',locals: { user: @user, goal: @goal } %><br>
    <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
      <%= render partial: 'layouts/tag_search' %>
    <% end %>
  </div>


  <div class="col-md-9 col-12">
    <div class="d-flex justify-content-center my-3">
      <div><%= link_to 'フォローユーザーの投稿一覧へ', public_followed_user_posts_path, class: 'btn btn-outline-info' %></div>
    </div>
    <div class="d-flex justify-content-center border-top border-info pt-3">
      <div class="h5">
        <% if @selects.present? %>
          検索結果
        <% elsif params[:search].present? %>
          「<%= params[:search] %>」を含む投稿
        <% else %>
          すべての投稿
        <% end %>
      </div>
    </div>
    <div>
      <% @posts.each do |post| %>
        <% if post.user.is_deleted == false %>
          <%= render partial: 'layouts/post_partial/body',locals: { post: post, user: post.user, current_user: @current_user }  %>
          <%= render partial: 'layouts/post_partial/footline_go_to_show',locals: { post: post, user: @user, current_user: @current_user }  %>
        <% end %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <div><%= paginate @posts %></div>
    </div>
  </div>

</div>