<div class="row">

  <%# サイドバー %>
  <div class="col-md-3 col-12 mb-5 sidebar">
    <%= render partial: 'layouts/user_info',locals: { user: @user, goal: @goal } %><br>
  </div>


  <div class="col-md-9 col-12">
    <div class="d-flex justify-content-center">
      <div class="h5">投稿詳細ページ</div>
    </div>

  <% if @user == @current_user %>
    <div>
      <%= render partial: 'layouts/post_partial/body',locals: { post: @post, user: @user, current_user: @current_user }  %>
      <%= render partial: 'layouts/post_partial/footline_go_to_user_index',locals: { post: @post, user: @user }  %>
    </div>
    <div class="border-top border-info">
      <%= render partial: 'layouts/post_partial/comment_post',locals: { post: @post, post_comment: @post_comment, current_user: @current_user }  %>
    </div>
  <% else %>
    <% if @post.is_released == true %>
      <div>
        <%= render partial: 'layouts/post_partial/body',locals: { post: @post, user: @user, current_user: @current_user }  %>
        <%= render partial: 'layouts/post_partial/footline_go_to_user_index',locals: { post: @post, user: @user }  %>
      </div>
      <div class="border-top border-info">
      <%= render partial: 'layouts/post_partial/comment_post',locals: { post: @post, post_comment: @post_comment, current_user: @current_user }  %>
    </div>
    <% else %>
      <div>この投稿は非公開に設定されています。</div>
    <% end %>
  <% end %>
  </div>

</div>