<div class="row">

  <!--サイドバー-->
  <div class="col-md-3 col-12 mb-5 sidebar">
    <%= render partial: 'layouts/user_info',locals: { user: @user, goal: @goal } %><br>
    <%= form_tag({controller:"posts",action:"user_index"}, method: :get) do %>
      <%= render partial: 'layouts/tag_search' %>
    <% end %>
  </div>


  <div class="col-md-9 col-12">
    <div class="d-flex justify-content-center">
      <% if @user == @current_user %>
        <div class="h5">あなたの投稿一覧</div>
      <% else %>
        <div class="h5"><%= @user.nickname %>さんの投稿一覧</div>
      <% end %>
    </div>

    <div>
        <% @posts.each do |post| %>
          <%= render partial: 'layouts/post_partial/body',locals: { post: post, user: @user, current_user: @current_user }  %>
          <%= render partial: 'layouts/post_partial/footline_go_to_show',locals: { post: post, user: @user, current_user: @current_user }  %>
        <% end %>
        <div class="d-flex justify-content-center">
          <div><%= paginate @posts %></div>
        </div>
        </div>
    </div>

  </div>

</div>