<div class="container">
  <div class="col-12 d-flex justify-content-center">
    <div class="h4 mt-3">管理者専用ログイン画面</div>
  </div>

  <div class="col-6 mx-auto border border-info mt-3 mb-5">
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="field my-4">
        <%= f.label :メールアドレス, class:'h6' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@exanple.com", class:'col-12 px-1' %>
      </div>

      <div class="field mt-4 mb-5">
        <%= f.label :パスワード, class:'h6' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:'col-12 px-1' %>
      </div>

      <div class="actions mt-5 mb-3 col-12 mx-auto px-0">
        <%= f.submit "ログイン", class: 'btn btn-info col-12' %>
      </div>
    <% end %>
  </div>

</div>
