<div class="row">
  <%# サイドバー %>
  <div class="col-lg-4 col-12 mb-5 pr-4 sidebar">
    <%= render partial: 'layouts/user_info',locals: { user: @user, goal: @goal } %><br>
    <%= render partial: 'public/homes/calendar' ,locals: { post: @post } %><br>
    <%= render partial: 'public/posts/new',locals: { new_post: @new_post } %>
  </div>

  <div class="d-felx flex-column col-lg-8 col-12 pl-4">
    <div class="border-info mb-4 p-4 top-gradient">
      こんにちは、<%= @current_user.nickname %>さん！<br>
      今日はどんな一日になりましたか？<br>
      一日を振り返って、達成度を投稿しましょう！
    </div>
    <div class="border border-primary my-4 p-4 back-fish">
      <div class="h5 text-primary">現在の目標</div>
      <div class="row py-2 px-3">
        <div class="col-2 px-0  text-info">最終目標</div>
        <div class="col-8">
          <% if @goal.present? %>
            <%= @goal.title %>
          <% else %>
            マイページで目標を設定しましょう
          <% end %>
          </div>
        <div class="col-2 d-flex justify-content-end">
          <% if @goal.present? %>
            <div>
              <%= link_to '完了',public_goal_path(@goal), method: :patch, class: "btn btn-outline-danger" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row py-2 px-3">
        <div class="col-2 px-0 text-info">今月の目標</div>
        <div class="col-6">
          <% if @objective_month.present? %>
            <%= @objective_month.title %>
          <% elsif @goal.present? %>
            目標が設定されていません
          <% else %>
            まずは最終目標を設定しましょう
          <% end %>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <% if @objective_month.present? %>
            <% if @objective_month.did_it == "" && @objective_month.could_not == "" %>
              <div class ="mr-1"><%= link_to '振り返る',edit_public_objective_path(@objective_month), class: "btn btn-outline-success" %></div>
            <% else %>
            <% end %>
          <% end %>
          <% if @goal.present? %>
            <div><%= link_to '設定',new_public_objective_path, class: "btn btn-outline-info" %></div>
          <% end %>
        </div>
      </div>
      <div class="row py-2 px-3">
        <div class="col-2 px-0 text-info">今週の目標</div>
        <div class="col-6">
          <% if @objective_week.present? %>
            <%= @objective_week.title %>
          <% elsif @goal.present? %>
            目標が設定されていません
          <% else %>
            まずは最終目標を設定しましょう
          <% end %>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <% if @objective_week.present? %>
            <% if @objective_week.did_it == "" && @objective_week.could_not == "" %>
              <div class="mr-1"><%= link_to '振り返る',edit_public_objective_path(@objective_week), class: "btn btn-outline-success" %></div>
            <% else %>
            <% end %>
          <% end %>
          <% if @goal.present? %>
            <div><%= link_to '設定',new_public_objective_path, class: "btn btn-outline-info" %></div>
          <% end %>
        </div>
      </div>
      <div class="row py-2 px-3">
        <% if @objective_day.present? %>
          <div class="col-2 px-0 text-info"><%= @objective_day.created_at.since(1.days).strftime('%m/%d') %>の目標</div>
          <div class="col-10">
            <%= @objective_day.tomorrow_objective %>
          </div>
        <% end %>
      </div>
    </div>
    <% if @goal.present? %>
      <div class=" border-info mt-5 p-4 back-fish">
        <div class="text-primary h5 pb-3">中期目標一覧</div>
          <div class="text-info">月の目標</div>
          <div>
            <div class="pl-4 overflow-auto height150">
              <% @objectives_months.each do |month| %>
                <i class="fa-solid fa-fire-flame-curved"></i> <%= month.title %><br>
                  <% if month.did_it.present? %>　<i class="fa-solid fa-crop"></i>　<%= month.did_it %><br><% end %>
                  <% if month.could_not.present? %>　<i class="fa-solid fa-crop-simple"></i>　<%= month.could_not %><br><% end %>
              <% end %>
            </div>
          </div>
          <div class="text-info">週の目標</div>
          <div>
            <div class="pl-4 overflow-auto height150">
              <% @objectives_weeks.each do |week| %>
                <i class="fa-solid fa-fire-flame-curved"></i> <%= week.title %><br>
                  <% if week.did_it.present? %>　<i class="fa-solid fa-crop"></i>　<%= week.did_it %><br><% end %>
                  <% if week.could_not.present? %>　<i class="fa-solid fa-crop-simple"></i>　<%= week.could_not %><br><% end %>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
    <div class="border-success mt-5 p-4">
      <div class="text-success h5 pb-3">タグ新規作成（投稿・トピック共通）</div>
      <div class="d-flex justify-content-center">
        <%= form_tag({controller:"homes", action:"top"}, method: :get) do %>
          <%= text_field_tag :tag %>
          <%= submit_tag 'タグを追加', class: 'btn btn-outline-success ml-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-12 dashed-top py-4">
  <h5 class="text-info"><%= @current_user.nickname %>さんの投稿ランキング：いいねTOP3</h5>
  <div class="row d-flex bd-hightlightn">
    <% @my_post_favorite_ranks.each.with_index(1) do |post, i| %>
      <%=link_to public_post_path(post), class: 'col-3 rank-link' do %>
      <div class ="border border-info p-2 m-1 bd-hightlight d-flex justify-content-between">
        <div class="text-info">
          第<%= i %>位
          <%= post.body.truncate(9) %>
        </div>
        <div class="text-secondary">
          <%= post.favorites.count %>いいね
        </div>
      </div>
      <% end %>
    <% end %>
    <div class=" ml-auto bd-hightlight">
      <%= link_to '他のランキングも見る', public_rank_path, class: 'btn btn-info my-1' %>
    </div>
  </div>
</div>