<div class="row">
  <div class="col-3">
    <div class="border-bottom border-info pb-3 mb-5">
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <%= render partial: 'layouts/tag_search' %>
      <% end %>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <div class="h5"><%= @user.nickname %>さんのトピック一覧</div>
    </div>

    <% @topics.each do |topic| %>
      <div class="border-bottom border-info py-2 col-12">
        <%= link_to admin_topic_path(topic), class: 'text-dark mr-auto bd-hightlight' do %>
          <div class="d-flex bd-hightlight">
            <div class="bd-hightlight">
              <%= image_tag topic.user.get_icon_image(30,30), class: 'border rounded-circle' %>
              <%= topic.user.nickname %> 【<%= topic.title %>】
            </div>
            <div class="flex-grow-1 bd-hightlight">
              <% topic.tags.each do |tag| %>
                # <%= tag.name %>
               <% end %>
            </div>
            <div class="bd-hightlight"><%= topic.created_at.strftime('%Y/%m/%d %H:%M') %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


</div>