<h4 class="text-info"><%= @topic.title %></h4>
<div class="overflow-auto"  style="height:400px;">
  <% @topic_comments.each do |comment| %>
    <div class="delimiter-b">
      <div class="d-flex bd-hightlight">
        <div class="bd-hightlight">
          <%= link_to admin_user_path(id: comment.user_id) do %>
            <%= image_tag comment.user.get_icon_image(30,30), class: 'frame-circle' %>
            <span class="link-name"><%= comment.user.nickname %></span>
          <% end %>
          <% if comment.user.is_deleted == true %>
            <span class="text-secondary">※退会済みユーザー</span>
          <% end %>
        </div>
        <div class="bd-hightlight text-secondary ml-3">
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>
        <div class="ml-auto bd-hightlight">
           <%= link_to '削除', admin_topic_topic_comment_path(comment.topic,comment), method: :delete, class: "delete-btn btn btn-outline-danger mr-3" %>
        </div>
      </div>
      <div class="px-3 pb-2"><%= comment.body %></div>
    </div>
  <% end %>
</div>