<div class="border-info m-3 py-2 px-2">
  <div class="d-flex bd-hightlight">
    <% if user == current_user %>
      <div class="mr-auto bd-hightlight">
        <div class="d-flex justify-content-between">
          <%= link_to '削除', public_post_path(post), method: :delete, class: "delete-btn btn btn-outline-danger" %>
            <%= form_with model: post, url: public_edit_post_path(post), method: :patch do |f| %>
              <div class="form-check form-check-inline released-btn">
                <div class="ml-5">
                  <%= f.radio_button :is_released,"true", class: 'btn-check' %>
                    <%= f.label :is_released,"公開", for: 'post_is_released_true', class: 'text-primary mb-0' %>
                </div>
                <div class="ml-3">
                  <%= f.radio_button :is_released,"false", class: 'btn-check' %>
                    <%= f.label :is_released,"非公開", for: 'post_is_released_false', class: 'text-primary mb-0' %>
                </div>
                <div class="ml-3">
                  <%= f.submit "変更", class: 'btn btn-outline-primary' %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    <% else %>
      <% if user.is_deleted == false %>
        <%= link_to public_user_path(post.user.id), class: 'mr-auto bd-hightlight h5' do %>
          <%= image_tag post.user.get_icon_image(30,30), class: 'frame-circle' %>
            <span class="link-name"><%= post.user.nickname %></span>
        <% end %>
      <% else %>
        <span class="mr-auto bd-hightlight">退会済みのユーザー</span>
      <% end %>
    <% end %>
<%# 非公開アイコン %>
    <% if post.is_released == false %>
      <div class="mx-2">
        <i class="fa-solid fa-lock fa-lg icon-info"></i>
      </div>
    <% end %>

    <div class="bd-hightlight text-secondary">
      <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
<%# 達成度アイコン %>
      <div class="bd-hightlight ml-3">
        <% if post.achivement == "excellence" %>
          <span><i class="fa-regular fa-face-laugh-squint fa-2x icon-info"></i></span>
        <% elsif post.achivement == "good" %>
          <span><i class="fa-regular fa-face-smile fa-2x icon-info"></i></span>
        <% else %>
          <span><i class="fa-regular fa-face-rolling-eyes fa-2x icon-info"></i></span>
        <% end %>
      </div>
   </div>

    <div class="border border-secondary mt-2 mx-3 px-1">
      <%= post.body %>
    </div>

    <div class="ml-4 text-info">
      <% post.tags.each do |tag| %>
          # <%= tag.name %>
      <% end %>
    </div>

    <% if post.image.filename != 'default-image.jpg' %>
      <div class="d-flex justify-content-center">
        <div><%= image_tag post.get_image(200,200) %></div>
      </div>
    <% end %>

    <% if post.tomorrow_objective.present? %>
      <div class="pl-2 mt-2">明日の目標</div>
      <div class="border-secondary mx-3 px-1">
        <%= post.tomorrow_objective %>
      </div>
    <% end %>
<%# いいねアイコン %>
    <div class="d-flex bd-hightlight m-3">
      <div class="bd-hightlight">
      <% if post.favorited_by?(current_user) %>
        <%= link_to public_post_favorites_path(post), method: :delete, class: 'btn btn-outline-danger' do %>
          <i class="fa-solid fa-thumbs-up fa-2x"></i><%= post.favorites.where(type: 'nice').count %>
          <i class="fa-solid fa-heart fa-2x"></i><%= post.favorites.where(type: 'like').count %>
          <i class="fa-solid fa-hand-fist fa-2x"></i><%= post.favorites.where(type: 'fight').count %>
          　取り消す
        <% end %>
      <% else %>
        <%= link_to public_post_favorites_path(post, button: 1), method: :post, class: 'btn btn-outline-primary' do %>
          <i class="fa-solid fa-thumbs-up fa-2x"></i> <%= Favorite.types_i18n[:nice] %>
            <%= post.favorites.where(type: 'nice').count %>
        <% end %>
      </div>
      <div class="bd-hightlight">
        <%= link_to public_post_favorites_path(post, button: 2), method: :post, class: 'btn btn-outline-primary ml-2' do %>
          <i class="fa-solid fa-heart fa-2x"></i> <%= Favorite.types_i18n[:like] %>
          <%= post.favorites.where(type: 'like').count %>
        <% end %>
      </div>
      <div class="bd-hightlight">
        <%= link_to public_post_favorites_path(post, button: 3), method: :post, class: 'btn btn-outline-primary ml-2' do %>
          <i class="fa-solid fa-hand-fist fa-2x"></i> <%= Favorite.types_i18n[:fight] %>
          <%= post.favorites.where(type: 'fight').count %>
        <% end %>
      <% end %>
      </div>
      <div class="border-info ml-auto px-2 bd-hightlight d-flex align-items-center text-info">
        合計 <%= post.favorites.count %>
      </div>
    </div>
<%# footlimeまたは</div>を以下に持ってくること %>