<!--コメント投稿フォーム-->
<%= form_with model: [post, post_comment], url: public_post_post_comments_path(post), method: :post do |f| %>
  <div class="d-flex bd-hightlight px-3">
    <div class="flex-grow-1 bd-hightlight"><%= f.text_area :body, placeholder:"コメントを入力",class: 'my-3 px-1 col-12 border border-info',rows: '2' %></div>
    <div class="bd-hightlight">
      <%= f.button :type => "submit", class: 'btn btn-outline-primary mt-3 ml-3' do %>
        <i class="fa-solid fa-paper-plane fa-lg"></i>
      <% end %>
    </div>
  </div>
<% end %>

<!--コメント一覧-->
<div>
  <label class="text-secondary">コメント件数：<%= post.post_comments.count %></label>
  <div class="overflow-auto"  style="height:250px;">
    <% @post_comments.each do |post_comment| %>
      <div class="border-bottom border-info my-3 mx-5">
        <div class="d-flex bd-hightlight">
          <div class="bd-hightlight">
            <%= image_tag post_comment.user.get_icon_image(30,30), class: 'border rounded-circle' %>
              <span class="border-bottom border-dark"><%= post_comment.user.nickname %></span>
          </div>
          <div class="bd-hightlight text-secondary ml-3">
            <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
          <% if  post_comment.user == current_user %>
            <div class="ml-auto bd-hightlight">
              <%= link_to '削除', public_post_post_comment_path(post_comment.post,post_comment), method: :delete, class: "delete-btn btn btn-outline-danger mr-3" %>
            </div>
          <% end %>
        </div>
        <div class="pt-1 px-3 pb-3"><%= post_comment.body %></div>
      </div>
    <% end %>
  </div>
</div>

