<%# 引用先に<div class="d-flex bd-hightlight">があることを確認 %>

<%# 非公開アイコン%>
  <% if post.is_released == false %>
    <div class="mx-2">
      <i class="fa-solid fa-lock fa-lg icon-info"></i>
    </div>
  <% end %>

  <div class="bd-hightlight text-secondary"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></div>

  <%# 達成度アイコン %>
  <div class="bd-hightlight ml-3">
    <% if post.achivement == "excellence" %>
      <span><i class="fa-regular fa-face-laugh-squint fa-2x icon-info"></i></span>
    <% elsif post.achivement == "good" %>
      <span><i class="fa-regular fa-face-smile fa-2x icon-info"></i></span>
    <% else %>
      <span><i class="fa-regular fa-face-rolling-eyes fa-2x icon-info"></i></span>
    <% end %>
  </div>
</div>


<div class="border border-secondary mt-2 mx-3 px-1">
  <%= post.body %>
</div>

<div class="ml-4 text-info">
  <% post.tags.each do |tag| %>
    # <%= tag.name %>
  <% end %>
</div>

<% if post.image.filename != 'default-image.jpg' %>
  <div class="d-flex justify-content-center">
    <div><%= image_tag post.get_image(100,100) %></div>
  </div>
<% end %>

<% if post.tomorrow_objective.present? %>
  <div class="pl-2 mt-2">明日の目標</div>
  <div class="border border-secondary mx-3 px-1">
    <%= post.tomorrow_objective %>
  </div>
<% end %>

<%# いいねアイコン（閲覧のみ） %>
  <div class="d-flex bd-hightlight m-3">
    <div class="bd-hightlight text-info mr-3">
      <i class="fa-solid fa-thumbs-up fa-2x"></i> <%= Favorite.types_i18n[:nice] %>
      <%= post.favorites.where(type: 'nice').count %>
    </div>
    <div class="bd-hightlight text-info mr-3">
      <i class="fa-solid fa-heart fa-2x"></i> <%= Favorite.types_i18n[:like] %>
      <%= post.favorites.where(type: 'like').count %>
    </div>
    <div class="bd-hightlight text-info">
      <i class="fa-solid fa-hand-fist fa-2x"></i> <%= Favorite.types_i18n[:fight] %>
      <%= post.favorites.where(type: 'fight').count %>
    </div>
    <div class="btn btn-outline-info ml-auto bd-hightlight d-flex align-items-center">
      合計 <%= post.favorites.count %>
    </div>
  </div>