<div class="row">
  <!--サイドバー-->
  <div class="col-3">
    <div class="border-bottom border-info pb-3 mb-5">
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <%= render partial: 'layouts/tag_search' %>
      <% end %>
    </div>
  </div>
  <!---->

  <div class="col-9">
  <div class="d-flex justify-content-center">
    <div class="h5"><%= @user.nickname %> さんの投稿一覧</div>
  </div>
  <div>
    <% @posts.each do |post| %>
      <div class="border border-info m-3 py-3 px-2">
        <div class="d-flex bd-hightlight">
          <div class="mr-auto bd-hightlight">
            <%= link_to '削除', admin_post_path(post), method: :delete, data: {cofirm: '本当に消しますか?' }, class: "btn btn-outline-danger" %>
          </div>

        <%= render partial: 'common_post',locals: { post: post } %>

        <div class="d-flex justify-content-end">
          <div class="text-secondary mt-2 mr-3">コメント件数：<%= post.post_comments.count %></div>
          <div><%= link_to 'コメントを見る',admin_post_path(post), class: 'btn btn-outline-secondary mr-3' %></div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>