<div class="col-9 mx-auto">
  <div class="d-flex justify-content-center">
    <div class="h5"><%= @post.user.nickname %> さんの投稿詳細ページ</div>
  </div>
  <div>
    <div class="border border-info m-3 py-3 px-2">
      <div class="d-flex bd-hightlight">
        <div class="mr-auto bd-hightlight">
          <div class="d-flex justify-content-between">
            <%= link_to '削除', public_post_path(@post), method: :delete, data: {cofirm: '本当に消しますか?' }, class: "btn btn-outline-danger mr-5" %>
          </div>
        </div>

        <%= render partial: 'common_post',locals: { post: @post } %>


        <div class="d-flex justify-content-end">
          <div><%= link_to 'ユーザーの投稿一覧を見る',admin_posts_index_path(@post.user.id), class: 'btn btn-outline-secondary mr-3' %></div>
        </div>
      </div>
      <!--コメント一覧-->
      <div>
        <label class="text-secondary">コメント件数：<%= @post.post_comments.count %></label>
        <div class="overflow-auto"  style="height:250px;">
          <% @post_comments.each do |post_comment| %>
            <div class="border-bottom border-info my-3 mx-5">
              <div class="d-flex bd-hightlight">
                <div class="bd-hightlight">
                  <%= image_tag post_comment.user.get_icon_image(30,30), class: 'border rounded-circle' %>
                  <span class="border-bottom border-dark"><%= post_comment.user.nickname %></span>
                </div>
                <div class="bd-hightlight text-secondary ml-3"><%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
                <div class="ml-auto bd-hightlight">
                  <%= link_to '削除', admin_post_post_comment_path(post_comment, post_comment.post), method: :delete, class: "btn btn-outline-danger mr-3" %>
                </div>
              </div>
              <div class="pt-1 px-3 pb-3"><%= post_comment.body %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>