<div class="row">

  <!--サイドバー-->
  <div class="col-md-3 col-12 mb-5 sidebar">
    <%= render partial: 'layouts/user_info',locals: { user: @user, goal: @goal } %><br>
    <%= form_tag({controller:"topics",action:"index"}, method: :get) do %>
      <%= render partial: 'layouts/tag_search' %>
    <% end %>
  </div>


  <div class="col-md-9 col-12">
    <div class="d-flex justify-content-center mb-3">
      <div><%= link_to '新しいトピックを作成する', new_public_topic_path, class: 'btn btn-info' %></div>
    </div>

    <div class="d-flex justify-content-center border-top border-info">
      <div class="h5 pt-4">すべてのトピック</div>
    </div>

    <% @topics.each do |topic| %>
      <% if topic.user.is_deleted == false %>
        <div class="border-bottom border-info py-2 col-12">
          <%= link_to public_topic_path(topic), class: 'text-dark mr-auto bd-hightlight' do %>
            <div class="d-flex bd-hightlight">
              <div class="bd-hightlight">
                <%= image_tag topic.user.get_icon_image(30,30), class: 'border rounded-circle' %>
                <%= topic.user.nickname %>
              </div>
              <div class="ml-auto bd-hightlight"><%= topic.created_at.strftime('%Y/%m/%d %H:%M') %></div>
            </div>
            <div class="d-flex bd-hightlight">
              <div class="bd-hightlight pl-4">【<%= topic.title %>】</div>
              <div class="flex-grow-1 bd-hightlight">
                <% topic.tags.each do |tag| %>
                  # <%= tag.name %>
                 <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="d-flex justify-content-center">
      <div><%= paginate @topics %></div>
    </div>

  </div>

</div>