<div class="container">
  <div class="col-12 h4 d-flex justify-content-center">
    <div class="h6">新規登録</div>
  </div>

<div class="col-6 mx-auto border border-info">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <div class="field my-4">
        <%= f.label :ニックネーム, class:'h6' %><br />
        <%= f.text_field :nickname, class:'col-12 px-1' %>
      </div>

      <div class="field my-4">
        <%= f.label :メールアドレス, class:'h6' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@exanple.com", class:'col-12 px-1' %>
      </div>

      <div class="field mt-4 mb-5">
        <%= f.label :パスワード, class:'h6' %>
        <% if @minimum_password_length %>
          <em>(半角 <%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'col-12 px-1' %>
      </div>

      <div class="actions mt-5 mb-3 col-12 mx-auto px-0">
        <%= f.submit "新規登録", class: 'btn btn-info col-12' %>
      </div>
    <% end %>
    <div class="h6 py-1 d-flex flex-column">
      <div class="pb-2"><b>◇既に会員登録をされている方へ◇</b></div>
      <div class="pb-2">　　　　<u>こちら</u> からログインできます </div>
    </div>
  </div>

<!--<= render "public/shared/links" %>-->
</div>