<% if @post_comments.present? %>
  <div class="d-flex justify-content-center">
    <div class="h5"><%= @user.nickname %>さんのコメント一覧</div>
  </div>
  <div>
    <% @post_comments.each do |post_comment| %>
      <div class="delimiter-b my-3 mx-5">
        <div class="d-flex bd-hightlight">
          <div class="bd-hightlight">
            <%= image_tag post_comment.user.get_icon_image(30,30), class: 'frame-circle' %>
            <%= link_to admin_user_path do %>
              <span class="link-name"><%= post_comment.user.nickname %></span>
            <% end %>
          </div>
          <span>　>>>　</span>
          <div class="bd-hightlight">
            <%= image_tag post_comment.post.user.get_icon_image(30,30), class: 'frame-circle' %>
            <%= link_to admin_user_path(post_comment.post.user) do %>
              <span class="link-name"><%= post_comment.post.user.nickname %></span>
            <% end %>
          </div>
          <div class="bd-hightlight text-secondary ml-3"><%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
            <div class="ml-auto bd-hightlight">
              <%= link_to '削除', admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "delete-btn btn btn-outline-danger mr-3" %>
            </div>
          </div>
        <div class="pt-1 px-3 pb-3"><%= post_comment.body %></div>
      </div>
    <% end %>
    <div class="d-flex justify-content-center">
      <div><%= paginate @post_comments %></div>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="h5">コメントが投稿されていません。</div>
  </div>
<% end %>
<div class="d-flex justify-content-center my-5">
  <div><%= link_to 'ユーザーページに戻る',admin_user_path(@user), class: 'btn btn-outline-success mr-3' %></div>
</div>