<div class="back-fish mb-3">
  <div class="col-9 mx-auto pb-5">
    <div class="d-flex justify-content-center">
      <div class="h5">
        <% if params[:search].present? %>
          「<%= params[:search] %>」を含むユーザー
        <% else %>
          すべてのユーザー
        <% end %>
      </div>
    </div>
    <div>
      <% @users.each do |user| %>
        <div class="delimiter-b d-flex justify-content-between">
          <div>
            <%= link_to admin_user_path(user), class: 'text-dark mr-auto bd-hightlight h5' do %>
              <%= image_tag user.get_icon_image(30,30), class: 'frame-circle' %>
              <span class="border-bottom border-dark"><%= user.nickname %></span>
            <% end %>
          </div>
          <div>会員ステータス　：　<%= user.withdrawal_or_valibity %></div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <div><%= paginate @users %></div>
    </div>
  </div>
</div>