<div class="row">

  <div class="col-9 my-3 mx-auto">
    <div class="d-flex justify-content-around">
      <div class="h5 mt-2 mb-0">ユーザーページ</div>
      <div><%= link_to 'ユーザー情報編集ページへ', edit_admin_user_path(@user), class: 'btn btn-outline-success' %></div>
    </div>

　　<%= render partial: 'layouts/common_user_show',locals: { user: @user } %>
    
      <div class="d-flex bd-highlight mt-5 mb-3">
        <div class="bd-highlight col-5 px-0 text-info">
          メールアドレス
        </div>
        <div class="flex-grow-1 bd-highlight h5">
          <%= @user.email %>
        </div>
      </div>

      <div class="d-flex bd-highlight mt-5 mb-3">
        <div class="bd-highlight col-5 px-0 text-info">
          会員ステータス
        </div>
        <div class="flex-grow-1 bd-highlight h5">
          <%= @user.withdrawal_or_valibity %>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-around my-5">
      <div class="btn btn-info disabled" aria-disabled="true">　投稿　</div>
      <div class="d-flex justify-content-between col-6">
        <div><%= link_to '一覧を見る',admin_posts_index_path(@user.id), class: 'btn btn-outline-info' %></div>
        <div><%= link_to 'コメント一覧を見る',admin_post_comments_index_path(@user.id), class: 'btn btn-outline-info' %></div>
      </div>
    </div>

    <div class="d-flex justify-content-around my-5">
      <div class="btn btn-primary disabled" aria-disabled="true">トピック</div>
      <div class="d-flex justify-content-between col-6">
        <div><%= link_to '一覧を見る',admin_topics_index_path(@user.id), class: 'btn btn-outline-primary' %></div>
        <div><%= link_to 'コメント一覧を見る',admin_topic_comments_index_path(@user.id), class: 'btn btn-outline-primary' %></div>
      </div>
    </div>

  </div>

</div>