<div class="container">
  <div class="col-12 h4 d-flex justify-content-center">
    <div class="h6">ログイン</div>
  </div>

  <div class="col-6 mx-auto border border-info">
    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="field my-4">
        <%= f.label :メールアドレス, class:'h6' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@exanple.com", class:'col-12 px-1' %>
      </div>

      <div class="field mt-4 mb-5">
        <%= f.label :パスワード, class:'h6' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:'col-12 px-1' %>
      </div>

      <div class="actions mt-5 mb-3 col-12 mx-auto px-0">
        <%= f.submit "ログイン", class: 'btn btn-info col-12' %>
      </div>
    <% end %>
    <div class="h6 py-1 d-flex flex-column">
      <div class="pb-2"><b>◇会員登録がお済みでない方へ◇</b></div>
      <div class="pb-2">　　　<u>こちら</u> から新規登録をお願いします</div>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-center mt-5">
    <div class="h6 py-3 px-4 border border-success">
      <span>体験版は未登録でご利用いただけます　</span>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post , class: 'btn btn-success' %>
      <!--<bottun type="button"  class='btn btn-success'>ゲストログイン</button>-->
    </div>
  </div>

<!--<= render "public/shared/links" %>-->
</div>