<div class="container row">

  <!--サイドバー-->
  <div class="col-3 mb-5 border-right border-info">
    <%= render partial: 'layouts/user_info',locals: { user: @user } %><br>
  </div>


<!--メイン-->
  <div class="col-9">
    
    <div class="d-flex justify-content-center">
      <div class="h5">
        <% if @type.present? %>
          「<%= @type %>」一覧
        <% else %>
          ブックマーク一覧
        <% end %>
      </div>
    </div>
    
    <div class="d-flex justify-content-around mt-3 mb-5">
      <div>
        <%= link_to 'ALL',favorites_public_user_path(@current_user), class: 'btn btn-outline-info' %>
      </div>
      <div>
        <%= link_to favorites_public_user_path(@current_user, type: "nice"), class: 'btn btn-outline-info' do %>
          <i class="fa-solid fa-thumbs-up fa-lg"></i>
        <% end %>
      </div>
      <div>
        <%= link_to favorites_public_user_path(@current_user, type: "like"), class: 'btn btn-outline-info' do %>
          <i class="fa-solid fa-heart fa-lg"></i>
        <% end %>
      </div>
      <div>
        <%= link_to favorites_public_user_path(@current_user, type: "fight"), class: 'btn btn-outline-info' do %>
          <i class="fa-solid fa-hand-fist fa-lg"></i>
        <% end %>
      </div>
    </div>

    <div>
      <% @favorite_posts.each do |post| %>
        <%= render partial: 'layouts/post_partial/body',locals: { post: post, user: @user, current_user: @current_user }  %>
        <%= render partial: 'layouts/post_partial/footline_go_to_show',locals: { post: post, user: @user, current_user: @current_user }  %>
      <% end %>
    </div>
    
  </div>

</div>