<div class="container row">

  <%# サイドバー %>
  <div class="col-3 mb-5 sidebar">
    <%= render partial: 'layouts/user_info',locals: { user: @user, goal: @goal } %><br>
    <div><%= link_to 'フォロー 一覧へ', public_user_relationships_path(@user), class: 'btn btn-outline-info ml-2' %></div>
  </div>


  <div class="col-9">
    <div class="d-flex justify-content-center">
      <div class="h5">すべてのユーザー</div>
    </div>
    <div>
      <% @users.each do |user| %>
        <div class="border-bottom border-info m-3 p-2">
          <%= link_to public_user_path(user), class: 'text-dark mr-auto bd-hightlight h5' do %>
            <%= image_tag user.get_icon_image(30,30), class: 'border rounded-circle' %>
            <span class="border-bottom border-dark"><%= user.nickname %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <div><%= paginate @users %></div>
    </div>
  </div>

</div>